

a.button,a.button:link,a.button:visited,.button,button {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px #00629c;
    text-align: center;
    background-color: #0079c1;
    background: -moz-linear-gradient(center bottom,#0079c1 0,#0079c1 20%,#00a1ff 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#0079c1),color-stop(20%,#0079c1),color-stop(100%,#00a1ff));
    background: -webkit-linear-gradient(bottom,#0079c1 0,#0079c1 20%,#00a1ff 100%);
    background: -ms-linear-gradient(bottom,#0079c1 0,#0079c1 20%,#00a1ff 100%);
    background: -o-linear-gradient(bottom,#0079c1 0,#0079c1 20%,#00a1ff 100%);
    background: linear-gradient(bottom,#0079c1 0,#0079c1 20%,#00a1ff 100%);
    -moz-box-shadow: 0 1px #4dbeff inset;
    -webkit-box-shadow: 0 1px #4dbeff inset;
    box-shadow: 0 1px #4dbeff inset;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: #0079c1 #00588b #004b77;
    border-style: solid;
    border-width: 1px;
    height: 2.61538em;
    padding: 7px 15px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.button:hover,button:hover,button:focus,.button:focus {
    text-shadow: 0 -1px #004c77;
    background-color: #005282;
    background: -moz-linear-gradient(center bottom,#005282 0,#005282 20%,#0083cf 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#0079c1),color-stop(20%,#0079c1),color-stop(100%,#00a1ff));
    background: -webkit-linear-gradient(bottom,#005282 0,#005282 20%,#0083cf 100%);
    background: -ms-linear-gradient(bottom,#005282 0,#005282 20%,#0083cf 100%);
    background: -o-linear-gradient(bottom,#005282 0,#005282 20%,#0083cf 100%);
    background: linear-gradient(bottom,#005282 0,#005282 20%,#0083cf 100%);
    border-color: #00629b #004872 #003b5d;
    -moz-box-shadow: 0 1px #1794dc inset;
    -webkit-box-shadow: 0 1px #1794dc inset;
    box-shadow: 0 1px #1794dc inset;
}

.button:active,button:active {
    text-shadow: 0 -1px #004268;
    background: -moz-linear-gradient(center,bottom,#005282 0,#005282 20%,#006aa8 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#0079c1),color-stop(20%,#0079c1),color-stop(100%,#00a1ff));
    background: -webkit-linear-gradient(bottom,#005282 0,#005282 20%,#006aa8 100%);
    background: -ms-linear-gradient(bottom,#005282 0,#005282 20%,#006aa8 100%);
    background: -o-linear-gradient(bottom,#005282 0,#005282 20%,#006aa8 100%);
    background: linear-gradient(bottom,#005282 0,#005282 20%,#006aa8 100%);
    border-color: #004269 #003d60 #003a5c;
    -moz-box-shadow: 0 2px 4px #004268 inset;
    -webkit-box-shadow: 0 2px 4px #004268 inset;
    box-shadow: 0 2px 4px #004268 inset;
}

.button.secondary,a.button.secondary:link,a.button.secondary:visited {
    color: #333;
    text-shadow: 0 1px #e0e0e0;
    background-color: #b3b7ba;
    background: -moz-linear-gradient(bottom,#bfbfbf 0,#bfbfbf 20%,#e0e0e0 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#bfbfbf),color-stop(20%,#bfbfbf),color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(bottom,#bfbfbf 0,#bfbfbf 20%,#e0e0e0 100%);
    background: -ms-linear-gradient(bottom,#bfbfbf 0,#bfbfbf 20%,#e0e0e0 100%);
    background: -o-linear-gradient(bottom,#bfbfbf 0,#bfbfbf 20%,#e0e0e0 100%);
    background: linear-gradient(bottom,#bfbfbf 0,#bfbfbf 20%,#e0e0e0 100%);
    -moz-box-shadow: 0 1px #ececec inset;
    -webkit-box-shadow: 0 1px #ececec inset;
    box-shadow: 0 1px #ececec inset;
    border-color: #cbcbcb #b2b2b2 #8b8b8b;
}

.button.secondary:hover,.button.secondary:focus {
    background-color: #a5a5a5;
    background: -moz-linear-gradient(center bottom,#a5a5a5 0,#a5a5a5 20%,#e0e0e0 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#a5a5a5),color-stop(20%,#a5a5a5),color-stop(100%,#e0e0e0));
    background: -webkit-linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#e0e0e0 100%);
    background: -ms-linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#e0e0e0 100%);
    background: -o-linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#e0e0e0 100%);
    background: linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#e0e0e0 100%);
    -moz-box-shadow: 0 1px #ebe9ec inset;
    -webkit-box-shadow: 0 1px #ebe9ec inset;
    box-shadow: 0 1px #ebe9ec inset;
    border-color: #cbcbcb #b2b2b2 #8d8d8d;
}

.button.secondary:active {
    background-color: #a5a5a5;
    background: -moz-linear-gradient(center bottom,#a5a5a5 0,#a5a5a5 20%,#ccc 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#a5a5a5),color-stop(20%,#a5a5a5),color-stop(100%,#ccc));
    background: -webkit-linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#ccc 100%);
    background: -ms-linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#ccc 100%);
    background: -o-linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#ccc 100%);
    background: linear-gradient(bottom,#a5a5a5 0,#a5a5a5 20%,#ccc 100%);
    -moz-box-shadow: 0 2px 4px #737373 inset;
    -webkit-box-shadow: 0 2px 4px #737373 inset;
    box-shadow: 0 2px 4px #737373 inset;
    border-color: #8c8c8c #878787 #808080;
}

.button.notify {
    color: #fff;
    text-shadow: 0 -1px #992c25;
    background-color: #b32317;
    background: -moz-linear-gradient(center bottom,#b32317 0,#bf2719 20%,#ff3421 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#b32317),color-stop(20%,#bf2719),color-stop(100%,#ff3421));
    background: -webkit-linear-gradient(bottom,#b32317 0,#bf2719 20%,#ff3421 100%);
    background: -ms-linear-gradient(bottom,#b32317 0,#bf2719 20%,#ff3421 100%);
    background: -o-linear-gradient(bottom,#b32317 0,#bf2719 20%,#ff3421 100%);
    background: linear-gradient(bottom,#b32317 0,#bf2719 20%,#ff3421 100%);
    -webkit-box-shadow: 0 1px #ffa199 inset;
    -moz-box-shadow: 0 1px #ffa199 inset;
    box-shadow: 0 1px #ffa199 inset;
    border-color: #ad2317 #801a11 #66150d;
}

.button.notify:hover,.button.notify:focus {
    text-shadow: 0 -1px #80251f;
    background-color: #991f14;
    background: -moz-linear-gradient(center bottom,#b32317 0,#b32317 20%,#e52e1e 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#b32317),color-stop(20%,#b32317),color-stop(100%,#e52e1e));
    background: -webkit-linear-gradient(bottom,#b32317 0,#b32317 20%,#e52e1e 100%);
    background: -ms-linear-gradient(bottom,#b32317 0,#b32317 20%,#e52e1e 100%);
    background: -o-linear-gradient(bottom,#b32317 0,#b32317 20%,#e52e1e 100%);
    background: linear-gradient(bottom,#b32317 0,#b32317 20%,#e52e1e 100%);
    -moz-box-shadow: 0 1px #e5918a inset;
    -webkit-box-shadow: 0 1px #e5918a inset;
    box-shadow: 0 1px #e5918a inset;
    border-color: #9c2014 #7a1910 #59120c;
}

.button.notify:active {
    text-shadow: 0 -1px #70211b;
    background: -moz-linear-gradient(center bottom,#991f14 0,#a62216 20%,#d92c1c 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#991f14),color-stop(20%,#a62216),color-stop(100%,#d92c1c));
    background: -webkit-linear-gradient(bottom,#991f14 0,#a62216 20%,#d92c1c 100%);
    background: -ms-linear-gradient(bottom,#991f14 0,#a62216 20%,#d92c1c 100%);
    background: -o-linear-gradient(bottom,#991f14 0,#a62216 20%,#d92c1c 100%);
    background: linear-gradient(bottom,#991f14 0,#a62216 20%,#d92c1c 100%);
    -webkit-box-shadow: 0 2px 4px #66130d inset;
    -moz-box-shadow: 0 2px 4px #66130d inset;
    box-shadow: 0 2px 4px #66130d inset;
    border-color: #6e150d #59110b #470e09;
}

.button.light,.button.light:link,.button.light:visited {
    border-color: #ddd #d9d9d9 #bdbdbd;
    background-color: #dedede;
    background: -moz-linear-gradient(center bottom,#dedede 0,#dedede 20%,#f5f5f5 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#dedede),color-stop(20%,#dedede),color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(bottom,#dedede 0,#dedede 20%,#f5f5f5 100%);
    background: -ms-linear-gradient(bottom,#dedede 0,#dedede 20%,#f5f5f5 100%);
    background: -o-linear-gradient(bottom,#dedede 0,#dedede 20%,#f5f5f5 100%);
    background: linear-gradient(bottom,#dedede 0,#dedede 20%,#f5f5f5 100%);
    -webkit-box-shadow: 0 1px #fff inset,0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: 0 1px #fff inset,0 1px 0 rgba(255,255,255,0.2);
    box-shadow: 0 1px #fff inset,0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px #efefef;
    color: #333;
}

.button.light:hover {
    background-color: #d1d1d1;
    background: -moz-linear-gradient(center bottom,#d1d1d1 0,#d1d1d1 20%,#ebebeb 100%);
    background: -webkit-linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#ebebeb 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#d1d1d1),color-stop(20%,#d1d1d1),color-stop(100%,#ebebeb));
    background: -ms-linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#ebebeb 100%);
    background: -o-linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#ebebeb 100%);
    background: linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#ebebeb 100%);
    -webkit-box-shadow: 0 1px #f5f5f5 inset,0 1px rgba(255,255,255,0.2);
    -moz-box-shadow: 0 1px #f5f5f5 inset,0 1px rgba(255,255,255,0.2);
    box-shadow: 0 1px #f5f5f5 inset,0 1px rgba(255,255,255,0.2);
    text-decoration: none;
}

.button.light:active {
    background-color: #c8c8c8;
    border-color: #c2c2c2 #bcbcbc #adadad;
    background: -moz-linear-gradient(center bottom,#d1d1d1 0,#d1d1d1 20%,#dedede 100%);
    background: -webkit-linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#dedede 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#d1d1d1),color-stop(20%,#d1d1d1),color-stop(100%,#dedede));
    background: -ms-linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#dedede 100%);
    background: -o-linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#dedede 100%);
    background: linear-gradient(bottom,#d1d1d1 0,#d1d1d1 20%,#dedede 100%);
    -moz-box-shadow: 0 2px 4px #999 inset,0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow: 0 2px 4px #999 inset,0 1px 0 rgba(255,255,255,0.2);
    box-shadow: 0 2px 4px #999 inset,0 1px 0 rgba(255,255,255,0.2);
}

.button.disabled,.button.disabled:hover,.button.disabled:active {
    color: #a6a6a6;
    text-shadow: 0 1px #f4f4f4;
    background-color: #e5e5e5;
    background: -moz-linear-gradient(center bottom,#e5e5e5 0,#e7e7e7 20%,#f7f7f7 100%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#e5e5e5),color-stop(20%,#e7e7e7),color-stop(100%,#f7f7f7));
    background: -webkit-linear-gradient(bottom,#e5e5e5 0,#e7e7e7 20%,#f7f7f7 100%);
    background: -ms-linear-gradient(bottom,#e5e5e5 0,#e7e7e7 20%,#f7f7f7 100%);
    background: -o-linear-gradient(bottom,#e5e5e5 0,#e7e7e7 20%,#f7f7f7 100%);
    background: linear-gradient(bottom,#e5e5e5 0,#e7e7e7 20%,#f7f7f7 100%);
    -webkit-box-shadow: 0 1px #fafafa inset;
    -moz-box-shadow: 0 1px #fafafa inset;
    box-shadow: 0 1px #fafafa inset;
    border-color: #cfcfcf;
    cursor: auto;
}

.formSmall .button,.button.small,.formSmall button,a.button.small,button.small {
    height: 2.18182em;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: .8461em;
    line-height: 1.2727em;
}